<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/zhudelun/Downloads/CODE/cocos2d-2.1beta3-x-2.1.1/cocos2dx/proj.mac/cocos2dx.xcodeproj</string>
</dict>
</plist>
